body{
    background-image: url(fondo.png);
}

#nave{
    width:150px;
    height:160px;
    top: 500px;
    left: 650px;
    position: absolute;
}


#marciano{
    width:130px;
    height:140px;
    position: absolute;
}

#disparo{
    width:50px;
    height:60px;
    position: absolute;
}

h1{
    color: white;
}