body{
    background-image: url(fondo.png);
    height: 100% ;
    width: 100%;
}

#lienzo{
    height: 100vh;
    width: 100vw;
}

#nave{
    width:150px;
    height:160px;
    top: 500px;
    left: 650px;
    position: absolute;
}


.marciano{
    width:150px;
    height:160px;
    position: absolute;
    top: 400px;
    left: 150px;
}

#disparo{
    width:50px;
    height:60px;
    position: absolute;
}

h1{
    color: white;
}