table, tr, th, td{
    border: solid 2px white;
    border-collapse: collapse;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding: 8px;
    font-size: 30px;
}

table{
    width: 80%;
    color: white;
}

body{
    background-color: black;
}


*{
    margin: auto;
}

button{
    margin-left: 11%;
    margin-top: 100px;
    align-items: center;
    width: 10%;
    padding: 10px;
}

